/* @keyframes p-5 {
  from {
    width: 0;
  }
  to {
    width: 5%;
  }
} */
@keyframes p-3 {
  from {
    width: 0;
  }
  to {
    width: 3%;
  }
}
@keyframes p-8 {
  from {
    width: 0;
  }
  to {
    width: 8%;
  }
}
@keyframes p-12 {
  from {
    width: 0;
  }
  to {
    width: 12%;
  }
}
@keyframes p-18 {
  from {
    width: 0;
  }
  to {
    width: 18%;
  }
}
@keyframes p-25 {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
}
/* @keyframes p-10 {
  from {
    width: 0;
  }
  to {
    width: 10%;
  }
}
@keyframes p-15 {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}
@keyframes p-20 {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}
@keyframes p-25 {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
} */
@keyframes p-30 {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}
/* @keyframes p-35 {
  from {
    width: 0;
  }
  to {
    width: 35%;
  }
}
@keyframes p-40 {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}
@keyframes p-45 {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}
@keyframes p-50 {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
@keyframes p-55 {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
}
@keyframes p-60 {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
@keyframes p-65 {
  from {
    width: 0;
  }
  to {
    width: 65%;
  }
}
@keyframes p-70 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes p-75 {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
@keyframes p-80 {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@keyframes p-85 {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
@keyframes p-90 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
@keyframes p-95 {
  from {
    width: 0;
  }
  to {
    width: 95%;
  }
}
@keyframes p-100 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

/* li.p-5 {
  width: 5%;
  animation: p-5 0.1s;
}
li.p-10 {
  width: 5%;
  animation: p-10 0.2s;
}
li.p-15 {
  width: 15%;
  animation: p-15 0.3s;
}
li.p-20 {
  width: 20%;
  animation: p-20 0.4s;
}
li.p-25 {
  width: 25%;
  animation: p-25 0.5s;
}
li.p-30 {
  width: 30%;
  animation: p-30 0.6s;
}
li.p-35 {
  width: 35%;
  animation: p-35 0.7s;
}
li.p-40 {
  width: 40%;
  animation: p-40 0.8s;
}
li.p-45 {
  width: 45%;
  animation: p-45 0.9s;
}
li.p-50 {
  width: 50%;
  animation: p-50 1s;
}
li.p-55 {
  width: 55%;
  animation: p-55 1.1s;
}
li.p-60 {
  width: 60%;
  animation: p-60 1.2s;
}
li.p-65 {
  width: 65%;
  animation: p-65 1.3s;
}
li.p-70 {
  width: 70%;
  animation: p-70 1.4s;
}
li.p-75 {
  width: 75%;
  animation: p-75 1.5s;
}
li.p-80 {
  width: 80%;
  animation: p-80 1.6s;
}
li.p-85 {
  width: 85%;
  animation: p-85 1.7s;
}
li.p-90 {
  width: 90%;
  animation: p-90 1.8s;
}
li.p-95 {
  width: 95%;
  animation: p-95 1.9s;
}
li.p-100 {
  width: 100%;
  animation: p-100 2s;
} */

/* li.p-5::before {
  content: "5%";
} */
li.p-3::before {
  content: "3%";
}
li.p-8::before {
  content: "8%";
}
li.p-12::before {
  content: "12%";
}
li.p-18::before {
  content: "18%";
}
li.p-25::before {
  content: "25%";
}
/* li.p-10::before {
  content: "10%";
}
li.p-15::before {
  content: "15%";
}
li.p-20::before {
  content: "20%";
}
li.p-25::before {
  content: "25%";
} */
li.p-30::before {
  content: "30%";
}
/* li.p-35::before {
  content: "35%";
}
li.p-40::before {
  content: "40%";
}
li.p-45::before {
  content: "45%";
}
li.p-50::before {
  content: "50%";
}
li.p-55::before {
  content: "55%";
}
li.p-60::before {
  content: "60%";
}
li.p-65::before {
  content: "65%";
}
li.p-70::before {
  content: "70%";
}
li.p-75::before {
  content: "75%";
}
li.p-80::before {
  content: "80%";
}
li.p-85::before {
  content: "85%";
}
li.p-90::before {
  content: "90%";
}
li.p-95::before {
  content: "95%";
}
li.p-100::before {
  content: "100%";
} */

.percent-indicator .per-3::before {
  content: "매우낮음";
}
.percent-indicator .per-8::before {
  content: "낮음";
}
.percent-indicator .per-12::before {
  content: "보통";
}
.percent-indicator .per-18::before {
  content: "높음";
}
.percent-indicator .per-25::before {
  content: "매우높음";
}
.percent-indicator .per-30::before {
  content: " ";
}

.graph-wrapper {
  position: relative;
  padding: 25px;
  border: 1px solid #aaa;
  max-width: 800px;
  margin: auto;
  
}

.graph-wrapper h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -15px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 10px;
  font-size: 30px;
  background: #fff;
  line-height: 30px;
}

.percent-indicator {
  position: absolute;
  top: 0;
  right: 25px;
  left: 25px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 50px);
  padding: 50px 20px;
  
}

.percent-indicator div {
  position: relative;
  width: 0;
  margin-left: -1px;
  border-left: 1px dashed #aaa;
  
}

.percent-indicator .per-0 {
  transform: translateX(1px);
  
}

.percent-indicator div::before{
  position: absolute;
  text-align: center;
  /* transform: translateX(-50%); */
  padding-bottom: 5px;
  font-size: 16px;
  line-height: 16px;
  background: #fff;
}

.percent-indicator div::after {
  position: absolute;
  text-align: center;
  /* transform: translateX(85%); */
  font-size: 16px;
  line-height: 16px;
  background: #fff;
}

.percent-indicator div::after {
  top: 21px;
}

.percent-indicator .per-0::after {
  content: " ";
}

.percent-indicator .per-20::after {
  content: " ";
}

.percent-indicator .per-40::after {
  content: " ";
}

.percent-indicator .per-60::after {
  content: " ";
}

.percent-indicator .per-80::after {
  content: " ";
}

.percent-indicator .per-100::after {
  content: " ";
}

.graph {
  position: relative;
  margin: 100px auto;
  padding: 0 20px;
  list-style: none;
  z-index: 2;
}
.graph-wrapper .graph li{
  background: rgb(57,96,207);
  height:90px;
}
li {
  margin-bottom: 5px;
  padding: 10px 5px;
  color: #fff;
  text-align: left;
}

li.item1::after {
  content: "골격근량";
}

li.item2::after {
  content: "체지방률";
}

@media screen and (max-width: 640px) {
  .percent-indicator div::after {
    display: none;
  }
}
